<!--&lt;!&ndash;<ng-template [ngIf]="submitted">&ndash;&gt;-->
<!--&lt;!&ndash;     <form #useForm="ngForm" (ngSubmit)="update()">&ndash;&gt;-->
<!--&lt;!&ndash;       <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;         <label for="name">Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;         <input type="text" name="name" id="name" [(ngModel)]="user.name"&ndash;&gt;-->
<!--&lt;!&ndash;                #name="ngModel" [ngClass]="(user.name+'').length==0?'border border-danger':''" class="form-control" required>&ndash;&gt;-->
<!--&lt;!&ndash;         <div [hidden]="name.valid || name.pristine" class="alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;           Name is required&ndash;&gt;-->
<!--&lt;!&ndash;         </div>&ndash;&gt;-->
<!--&lt;!&ndash;       </div>&ndash;&gt;-->

<!--&lt;!&ndash;       <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;         <label for="email">Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;         <input type="text" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="(user.email+'').length==0?'border border-danger':''"&ndash;&gt;-->
<!--&lt;!&ndash;                class="form-control" required>&ndash;&gt;-->
<!--&lt;!&ndash;         <div [hidden]="email.valid || email.pristine" class="alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;           Email is required&ndash;&gt;-->
<!--&lt;!&ndash;         </div>&ndash;&gt;-->
<!--&lt;!&ndash;       </div>&ndash;&gt;-->


<!--&lt;!&ndash;       <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;         <label for="gender">Gender</label>&ndash;&gt;-->
<!--&lt;!&ndash;         <select [(ngModel)]="user.gender" [ngClass]="(user.gender+'').length==0?'border border-danger':''"&ndash;&gt;-->
<!--&lt;!&ndash;                 class="form-control" id="gender" #gender="ngModel" name="gender" required>&ndash;&gt;-->
<!--&lt;!&ndash;           <option [ngValue]="''">Choose </option>&ndash;&gt;-->
<!--&lt;!&ndash;           <option [ngValue]="'male'">Male </option>&ndash;&gt;-->
<!--&lt;!&ndash;           <option [ngValue]="'female'">Female </option>&ndash;&gt;-->
<!--&lt;!&ndash;         </select>&ndash;&gt;-->

<!--&lt;!&ndash;          <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;           Gender is required&ndash;&gt;-->
<!--&lt;!&ndash;         </div>&ndash;&gt;-->
<!--&lt;!&ndash;       </div>&ndash;&gt;-->

<!--&lt;!&ndash;       <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;         <label for="country">Country</label>&ndash;&gt;-->
<!--&lt;!&ndash;         <select [(ngModel)]="user.country" [ngClass]="(user.country+'').length==0?'border border-danger':''"&ndash;&gt;-->
<!--&lt;!&ndash;                 class="form-control" id="country" #country="ngModel" name="country" required>&ndash;&gt;-->
<!--&lt;!&ndash;           <option [ngValue]="''">Choose </option>&ndash;&gt;-->
<!--&lt;!&ndash;           <ng-container *ngFor="let country of countries">&ndash;&gt;-->
<!--&lt;!&ndash;             <option [ngValue]="country">{{country}} </option>&ndash;&gt;-->
<!--&lt;!&ndash;           </ng-container>&ndash;&gt;-->

<!--&lt;!&ndash;         </select>&ndash;&gt;-->
<!--&lt;!&ndash;         <div [hidden]="country.valid || country.pristine" class="alert alert-danger">&ndash;&gt;-->
<!--&lt;!&ndash;           Country is required&ndash;&gt;-->
<!--&lt;!&ndash;         </div>&ndash;&gt;-->
<!--&lt;!&ndash;       </div>&ndash;&gt;-->
<!--&lt;!&ndash;       <btn>Update User</btn>&ndash;&gt;-->
<!--&lt;!&ndash;     </form>&ndash;&gt;-->
<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="container" [hidden]="submitted">&ndash;&gt;-->
<!--&lt;!&ndash;  <p> <b>Name: </b> {{user.name}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p> <b>Email: </b> {{user.email}} </p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p> <b>Gender: </b> {{user.gender}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <p> <b>Country: </b> {{user.country}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;  <a href="#" (click)="edit()" class="btn btn-primary">Edit</a>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--<form [formGroup]="myModel">-->
<!--  <label for="firstname">First Name</label>-->
<!--  <input type="text"  id="firstname" formControlName="firstname" >-->
<!--&lt;!&ndash;  <br>&ndash;&gt;-->
<!--&lt;!&ndash;  <label for="lastname">Last Name</label>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text"  id="lastname" formControlName="lastname" >&ndash;&gt;-->
<!--&lt;!&ndash;<div formGroupName="subinfo">&ndash;&gt;-->
<!--&lt;!&ndash;  <h1> My Sub Info</h1>&ndash;&gt;-->

<!--&lt;!&ndash;  <label for="address">Address</label>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text"  id="address" formControlName="address" >&ndash;&gt;-->
<!--&lt;!&ndash;  <br>&ndash;&gt;-->
<!--&lt;!&ndash;  <label for="zipcode">Zipcode</label>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text"  id="zipcode" formControlName="zipcode" >&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div formArrayName="myinfo">&ndash;&gt;-->
<!--&lt;!&ndash;      <h1>Get My Multiple Info</h1>&ndash;&gt;-->
<!--&lt;!&ndash;    <button type="button" (click)="addInput()">Add New Input</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <div *ngFor="let info of myinfo.controls; let i=index">&ndash;&gt;-->
<!--&lt;!&ndash;      <label for="myinfo{{i}}">Info {{i+1}}</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <input type="text" [formControlName]="i">&ndash;&gt;-->
<!--&lt;!&ndash;      <button type="button" (click)="deleteInput(i)">Remove</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  &lt;!&ndash;{{firstname.value}}&ndash;&gt;-->
<!--  <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger" >-->
<!--    <ol>-->
<!--      <li *ngIf="firstname.errors?.['required']">-->
<!--        First Name required-->
<!--      </li>-->
<!--&lt;!&ndash;      <li *ngIf="firstname.errors?.['minlength']">&ndash;&gt;-->
<!--&lt;!&ndash;        First Name must be at least 5 cha&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--&lt;!&ndash;      <li *ngIf="firstname.errors?.['max']">&ndash;&gt;-->
<!--&lt;!&ndash;        First Name less than 10&ndash;&gt;-->
<!--&lt;!&ndash;      </li>&ndash;&gt;-->
<!--      <li *ngIf="firstname.errors?.['email']">-->
<!--        First Name must be an Email-->
<!--      </li>-->
<!--    </ol>-->
<!--  </div>-->
<!--  {{firstname.errors|json}}-->
<!--  <br/>-->
<!--  <button type="submit" [disabled]="!myModel.valid">Update Value</button>-->
<!--</form>-->

<!--{{myModel.value|json}}-->


<!--{{myDate | date:'short'}}-->
<!--<br>-->
<!--{{myDate | date:'medium'}}-->
<!--<br>-->
<!--{{myDate | date:'long'}}-->
<!--<br>-->
<!--{{myDate | date:'full'}}-->
<!--<br>-->
<!--{{myDate | date:'shortDate'}}-->
<!--<br>-->
<!--{{myDate | date:'mediumDate'}}-->
<!--<br>-->
<!--{{myDate | date | uppercase}}-->
<!--<br>-->
<!--{{myDate | date | lowercase}}-->
<!--<br>-->
<!--{{data | json}}-->
<!--<br>-->
<!--<ul>-->
<!--  <li *ngFor="let my of data | slice:1:2">-->
<!--    {{my}}-->
<!--  </li>-->
<!--</ul>-->
<!--<br>-->
<!--{{'Angular' | slice:0:2}}-->

<!--{{100 | currency:'USD'}}-->
<!--<br>-->
<!--{{100 | currency:'EUR'}}-->
<!--<br>-->
<!--{{100 | currency:'EGB'}}-->

<!--&lt;!&ndash;{{'aNGULAR' | titlecase}}&ndash;&gt;-->
<!--{{1.0 | percent}}-->
<!--<br>-->
<!--{{0.9 | percent}}-->
<!--<br>-->
<!--{{0.123456 | percent}}-->
<!--<br>-->
<!--{{0.12 | percent}}-->

<!--{{3.6 | number: '1.0-0'}}-->
{{'4.0' | number}}
