<!--<p *ngIf="show">main works!</p>-->
<!--<ul *ngFor="let name of names">-->
<!--<li>-->
<!--  {{ name }}-->
<!--</li>-->
<!--</ul>-->

<!--<ul [ngSwitch]="switch_exp">-->
<!--  <li *ngSwitchCase="'ahmed'">Ahmed</li>-->
<!--  <li *ngSwitchCase="'omar'">Omar</li>-->
<!--  <li *ngSwitchCase="'mohammed'">Mohammed</li>-->
<!--  <li *ngSwitchDefault>No Item founds</li>-->

<!--</ul>-->
<!--<div [ngClass]="mycard?'card':'card2'">-->
<!--  Welcom To Angular Framwork-->
<!--</div>-->

<!--<div [ngStyle]="mystyle">-->
<!--  Welcom To Angular Framwork-->
<!--</div>-->

<!--<input type="text" [(ngModel)]="input">-->
<!--{{input}}-->


<!--<select [(ngModel)]="select">-->
<!-- <ng-container *ngFor="let name of names">-->
<!--&lt;!&ndash;   <ng-container *ngIf="name =='angular'">&ndash;&gt;-->


<!--   <option [ngValue]="name" >-->
<!--     {{name}}-->
<!--   </option>-->
<!-- </ng-container>-->
<!--&lt;!&ndash; </ng-container>&ndash;&gt;-->
<!--</select>-->
<!--{{select}}-->

<!--<input type="checkbox" [(ngModel)]="show">-->
<!--<ng-template [ngIf]="show">-->
<!--  <div>-->
<!--    Welcome to Angular 13 Template-->
<!--  </div>-->
<!--</ng-template>-->
<!--<ng-container>-->
<!--  Container Element in Angular DOM-->
<!--</ng-container>-->
<!--<div *ngIf="show">-->
<!--  Welcom to Angular  Template-->
<!--</div>-->

<!--<p [appChangeColor]="100+11" [Number]="5" [Equal]="60">main work!!</p>-->


<!--<input type="number" [(ngModel)]="age"> {{age}}-->

<!--<button (click)="getAge()">Send A ge</button>-->
<!--<div [hidden]="show">-->
<!--  Welcome to Angular Framework-->
<!--</div>-->
<!--<form>-->
<!--  <input type="text" [disabled]="true" name="name">-->
<!--  <button type="submit" [disabled]="false"> Send Values</button>-->
<!--</form>-->

<form #myForm="ngForm">
<div>
  <input type="text" [(ngModel)]="lastname" #last="ngModel">
  <!--  <input type="text" [(ngModel)]="email" name="email">-->
  <span *ngIf="last.untouched"> this input is required</span>
</div>
  <button type="submit">Send Data</button>
</form>
<p>input touched ? {{last.touched|json}}</p>
<p>input untouched ? {{last.untouched|json}}</p>

<p>The Control Changed Value</p>
<p>
  Form dirty ? {{last.dirty|json}}
</p>
<p>The Control Value is valid</p>
<p>
  Form valid ? {{last.valid|json}}
</p>
<p>The Control Value is invalid</p>
<p>
  Form invalid ? {{last.invalid|json}}
</p>

<!--<p>-->
<!-- Form submit ? {{myForm.submitted|json}}-->
<!--</p>-->
<!--<span>The control has been visited</span>-->
<!--<p>-->
<!--  Form touched ? {{myForm.touched|json}}-->
<!--</p>-->
<!--<p>-->
<!--  Form untouched ? {{myForm.untouched|json}}-->
<!--</p>-->

<!--<p>The Control Changed Value</p>-->
<!--<p>-->
<!--  Form dirty ? {{myForm.form.dirty|json}}-->
<!--</p>-->
<!--<p>-->
<!--  Form pristine ? {{myForm.form.pristine|json}}-->
<!--</p>-->

<!--<p>The Control Value is valid</p>-->
<!--<p>-->
<!--  Form invalid ? {{myForm.form.invalid|json}}-->
<!--</p>-->
