<!--<p *ngIf="show">main works!</p>-->
<!--<ul *ngFor="let name of names">-->
<!--<li>-->
<!--  {{ name }}-->
<!--</li>-->
<!--</ul>-->

<!--<ul [ngSwitch]="switch_exp">-->
<!--  <li *ngSwitchCase="'ahmed'">Ahmed</li>-->
<!--  <li *ngSwitchCase="'omar'">Omar</li>-->
<!--  <li *ngSwitchCase="'mohammed'">Mohammed</li>-->
<!--  <li *ngSwitchDefault>No Item founds</li>-->

<!--</ul>-->
<!--<div [ngClass]="mycard?'card':'card2'">-->
<!--  Welcom To Angular Framwork-->
<!--</div>-->

<!--<div [ngStyle]="mystyle">-->
<!--  Welcom To Angular Framwork-->
<!--</div>-->

<!--<input type="text" [(ngModel)]="input">-->
<!--{{input}}-->


<select [ngModel]="select" *ngFor="let name of names">
 <option>{{name}}</option>
</select>
















